.heroContainer span {
  height: 55vh !important;
  position: static !important;
}
.container {
  margin: 0 auto;
  padding-left: 0 !important;
}
.heroContainer {
  width: 100vw;
}
.roomsContainer {
  width: 90vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  row-gap: 25px;
}
.absolutePositioning {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20%;
  text-align: center;
  /* transform: translateY(-50%); */
}

.modal {
  width: 90%;
  margin: 0 auto;
}
