.heroContainer span {
  height: 75vh !important;
  position: relative !important;
}
.heroContainer {
  position: relative;
}
.heroContainer::before {
  content: "";
  height: 75vh;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.hotelContainer {
  margin: 0 auto;
  margin-top: 50px;
  width: 90vw;
}
/* fonts */
.heroContainer h1 {
  font-size: calc(35px + (45 - 35) * ((100vw - 320px) / (2000 - 320)));
}
.heroContainer p {
  margin: 0 auto;
  margin-bottom: 50px;
}
.hotelContainer h2,
.hotelContainer h3 {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.welcomeText p {
  text-align: center;
  font-family: var(--heading-font);
  font-weight: 200;
  color: var(--text-color);
  margin-bottom: 5px;
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (2000 - 320)));
}

.hotelContainer h2 {
  font-weight: 400;
  font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (2000 - 320)));
  text-transform: capitalize;
}
.hotelContainer h3 {
  font-family: var(--heading-font);
  font-weight: 300;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 90%;
}
.heroContainer {
  width: 100vw;
}
.roomsContainer {
  display: grid;
  width: 90%;
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  row-gap: 25px;
}
.absolutePositioning {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20%;
  text-align: center;
  width: 85%;
  color: var(--secondary-white);
}

.modal {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 10vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

.closeBtn {
  background: none;
  border: none;
}
.about {
  margin: 0 auto;
  margin-bottom: 150px;
}

@media screen and (min-width: 700px) {
  .heroContainer::before {
    background: none;
  }
  .absolutePositioning {
    position: initial;
    text-align: center;
    background: var(--blue-gradient);
    padding-top: 15vh;
    width: 100%;
  }
  .containerStyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container div :first-child {
    margin: 0 auto;
    max-width: 500px;
  }
  .heroContainer p {
    font-weight: lighter;
    width: 90%;
  }
  .roomsContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    gap: 25px;
    width: 100%;
  }
  .modal {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
