.header {
  background: var(--main-blue);
  padding: 0;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

.ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.logo {
  width: 75px;
  height: auto;
}
