.form fieldset {
  border: none;
  padding-left: 0;
}
.form {
  padding: 35px 25px;
  width: 85%;
}

.heading {
  padding-top: 20px;
  font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (2000 - 320)));
  font-weight: 200;
  margin-bottom: 10px;
  font-family: var(--body-text-font);
}
.form input,
.form textarea {
  border: none;
  border-bottom: var(--form-input-border);
  margin-top: 20px;
  width: 85%;
  background: none;
}

.form textarea {
  margin-bottom: 45px;
}
.form input,
.form textarea {
  padding: 7.5px;
}
.form button {
  margin-top: 45px;
}
@media screen and (min-width: 700px) {
  .form {
    margin: 0 auto;
    transform: translatey(40%);
  }
  .form fieldset {
    border: none;
  }

  .form input,
  .form textarea {
    border: none;
    border-bottom: 1px solid var(--text-color);
    margin-top: 20px;
    width: 90%;
  }
}
