.searchBtn {
  background: var(--orange);
  padding: 15px;
  color: var(--white);
  border: none;
  border-radius: 0 50px 50px 0;
  font-size: 1em;
}

/* search field  */

.formContainer {
  margin: 0 auto;
  margin-top: 15vh;
  text-align: center;
  position: relative;
  max-width: 500px;
}
.formContainer input {
  padding: 15px 20px;
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 1em;
  width: 50%;
}
.formContainer form {
  margin: 0 auto;
}
.searchResult {
  background: var(--white);
  position: absolute;
  max-width: 54%;
  left: 20%;
  right: 26%;
  border: 0.5px solid var(--text-color);
}
.searchResult ul {
  list-style-type: none;
  text-align: start;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 0;
  width: 80%;
}
.searchResult li {
  margin-top: 20px;
  border-bottom: 0.5px solid var(--light-gray);
}
.searchResult a {
  text-decoration: none;
}
