.footer {
  flex-direction: column;
  background: var(--blue-gradient);
  color: var(--secondary-white);
}
.container {
  width: 90%;
  margin: 0 auto;
}
.contentFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer ul {
  padding: 0;
  list-style-type: none;
}
.footer a {
  text-decoration: none;
  color: var(--secondary-white);
}
.footerLogo span {
  margin-top: 25px !important;
  width: 150px !important;
  height: auto;
}

/* social navigation */
.socialLinks ul {
  display: flex;
  width: 25vw;
  margin: 0 auto;
  margin-top: 35px;
}
.socialLinks ul li a {
  font-size: 2em;
  padding: 10px;
}
.socialLinks a:hover {
  background: var(--secondary-white);
  color: var(--main-blue);
}

/* menu */
.footerNav p {
  font-size: 1.5em;
}

.termsAndLoginNav ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.copy {
  text-align: center;
  margin: 25px;
}

@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    width: 95%;
  }
}
