.header {
  background: var(--main-blue);
  padding: 0;
  height: 65px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
  align-items: center;
}
.logOutBtn {
  background: var(--white);
  border: 1px solid var(--main-blue);
  padding: 15px 20px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.burgerBtn {
  position: relative;
  background: none;
  border: none;
  color: var(--secondary-white);
  font-size: 1.5em;
  z-index: 15;
  margin-right: 10px;
}
.displayed {
  display: block;
  position: absolute;
  inset: 0;
  min-height: 400px;
  max-height: 600px;
  top: 65px;
  background-color: var(--white);
  z-index: 10;
  animation: slideInMenu 0.3s ease-in-out 1;
  box-shadow: var(--box-shadow);
}

@keyframes slideInMenu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.ul {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: none;
  margin-top: 70px;
}
.ul li {
  list-style-type: none;
  margin-bottom: 35px;
}
.ul a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--body-text-font);
  font-size: 1.5em;
  font-weight: 300;
  padding: 10px 0;
  display: block;
}
.ul a:hover {
  background: var(--main-blue);
  color: var(--white);
}
.logo a span {
  flex: 1;
  width: 75px !important;
  height: auto;
  margin-left: 10px !important;
}

@media screen and (min-width: 700px) {
  .displayed {
    inset: 0 0 0 50vw;
    top: 6vh;
    max-height: 55vh;
  }
}

@media (min-width: 1000px) {
  .hidden {
    display: flex;
    background-color: none;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    animation: none;
  }

  .logOutBtn {
    background: var(--white);
    border: 1px solid var(--main-blue);
    padding: 5px 10px;
  }
  .burgerBtn {
    display: none;
  }
  .ul {
    margin-bottom: 0;
    margin-top: 0;
    transform: translateY(0%);
    display: flex;
  }
  .ul a:hover {
    background: var(--white);
    color: var(--main-blue);
  }
  .ul li {
    margin-bottom: 0;
  }
  .ul a {
    text-decoration: none;
    color: var(--secondary-white);
    font-family: var(--body-text-font);
    font-size: 1em;
    padding: 30px 10px;
  }
  .ul button {
    margin: 15px 0 15px 15px;
  }
}
