.cardContainer {
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
}

.ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  width: 100%;
  padding: 0;

  text-align: center;
}

.listItem {
  list-style-type: none;
  background: var(--main-blue);
}

.listLink {
  text-decoration: none;
  color: var(--secondary-white);
}
