.cardContainer {
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 50px;
}
.ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.listItem {
  list-style-type: none;
  background: var(--main-blue);
  position: relative;
  box-shadow: var(--box-shadow);
  width: 90%;
  margin: 0 auto;
}
.listItem:hover :last-child {
  background: var(--orange);
}

.linkText {
  text-decoration: none;
  color: var(--secondary-white);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: var(--secondary-blue);
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.listItem span {
  height: 35vh !important;
  min-height: 200px;
  max-height: 300px;
}

@media screen and (min-width: 600px) {
  .ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
  .listItem {
    width: 100%;
  }
  .listItem span {
    height: 20vh !important;
    max-height: 250px;
  }
}
