.cardContainer {
  position: relative;
  height: 250px;
}

.content {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.895);
  padding: 10px 15px;
  color: #000;
}
.content:hover {
  z-index: 0;
}

.content h3 {
  font-family: var(--body-text-font);
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1em;
  font-weight: 400;
  white-space: nowrap;
}
.content p {
  margin-top: 0;
}
.content div p {
  margin-bottom: 0;
  font-size: 1em;
}
.price {
  margin-bottom: 0;
  font-size: 1em;
}
.price span {
  font-weight: 400;
}

@media screen and (min-width: 650px) {
  .content {
    padding: 10px 5px;
  }
}
