.heroContainer span {
  height: 55vh !important;
  position: static !important;
}
.heroContainer {
  position: relative;
}
.container {
  position: relative;
  height: 55vh;
}
.heroContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.heroContainer p {
  margin-bottom: 50px;
}

.heroContent {
  position: static;
  z-index: 5;
  color: var(--secondary-white);
}

.ul {
  width: 100vw;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 50px;
  gap: 25px;
  margin-bottom: 100px;
}

.ul li {
  list-style-type: none;
  width: 75vw;
  box-shadow: var(--box-shadow);
}

.ul li a {
  text-decoration: none;
}

.active {
  background: var(--orange);
}
.absolutePositioning {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20%;
  text-align: center;
  /* transform: translateY(-50%); */
}

@media screen and (min-width: 450px) {
  .ul {
    gap: 30px;
  }
  .ul li {
    list-style-type: none;
    width: 40vw;
    box-shadow: var(--box-shadow);
  }
}

@media screen and (min-width: 700px) {
  .heroContainer::before {
    background: none;
  }
  .absolutePositioning {
    position: initial;
    text-align: center;
    background: var(--blue-gradient);
    padding-top: 10vh;
    width: 100%;
  }

  .container div :first-child {
    width: 85%;
    margin: 0 auto;
    max-width: 500px;
  }
}
@media screen and (min-width: 1000px) {
  .ul {
    gap: 35px;
    justify-content: center;
  }
  .ul li {
    width: 28vw;
  }
  .btnContainer {
    width: 85vw;
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .ul li {
    width: 20vw;
  }
}
