.heroContainer span {
  height: 55vh !important;
  position: static !important;
}
.heroContainer {
  position: relative;
}
.heroContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* .heroContainer::after {
  content: "";
  position: absolute;
  background: var(--main-blue);
  clip-path: polygon(100% 0, 0% 0%, 0% 100%);
  inset: 0;
} */
.heroContainer p {
  margin-bottom: 50px;
}

.heroContent {
  position: static;
  z-index: 5;
  color: var(--secondary-white);
}

.ul {
  width: 95vw;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 50px;
  gap: 25px;
}

.ul li {
  list-style-type: none;
  width: 75vw;
  box-shadow: var(--box-shadow);
}

.ul li a {
  text-decoration: none;
}

@media screen and (min-width: 450px) {
  .ul {
    gap: 20px;
  }
  .ul li {
    list-style-type: none;
    width: 42vw;
    box-shadow: var(--box-shadow);
  }
}

@media screen and (min-width: 650px) {
  .ul {
    gap: 20px;
    justify-content: flex-start;
  }
  .ul li {
    list-style-type: none;
    width: 29vw;
    box-shadow: var(--box-shadow);
  }
}
