.container {
  position: relative;
  height: 100vh;
}
.absolutePositioning {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 8%;
  width: 85%;
  max-width: 400px;
  border: none;
  background: var(--white-form-background);
}

/* .heroContainer span {
  position: static !important;
} */

@media screen and (min-width: 700px) {
  .absolutePositioning {
    position: initial;
    background: var(--white);
    width: 100%;
    max-width: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container div :first-child {
    width: 85%;
    min-width: 250px;
  }
}
