:root {
  --main-blue: #1a317e;
  --orange: #d96c00;
  --text-color: #3e3e3e;
  --white: #fff;
  --secondary-white: #f4f4f4;
  --heading-font: "objektiv-mk1", sans-serif;
  --body-text-font: "roboto", verdana, sans-serif;
  --blue-gradient: linear-gradient(
    180deg,
    rgba(26, 49, 126, 1) 0%,
    rgba(11, 26, 74, 1) 100%
  );
  --box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
/* 
* {
  border: 1px solid green;
} */
body {
  margin: 0;
  padding: 0;
}

/* sticky footer */
body,
html {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  display: flex;
}

.container {
  padding: 0 !important;
}
/* hides form label from users, only screen readers can "see" it */
.srOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.scroll-progress :first-child {
  z-index: 100;
}
