.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/images/main-images/home-main-img.jpg");
  background-size: cover;
  background-position: center;
}
.wrapper::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 35%;
}
.main {
  position: relative;
  z-index: 5;
}
