.wrapper {
  position: relative;
  width: 100vw;
  height: 92vh;
  background-image: url("../public/images/main-images/home-main-img.jpg");
  background-size: cover;
  background-position: center;
}
.wrapper::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 50%;
}
.main {
  position: relative;
  z-index: 5;
  padding-top: 15vh;
}
/* search field  */

.formContainer {
  margin: 0 auto;
  margin-top: 85px;
  text-align: center;
}
.formContainer input {
  padding: 15px 20px;
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 1em;
  width: 50%;
}
.formContainer form {
  margin: 0 auto;
}

/* typography */

.headingOne {
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--secondary-white);
  text-align: center;
  font-size: calc(45px + (100 - 45) * ((100vw - 320px) / (2000 - 320)));
}
.headingThree {
  font-size: calc(22px + (40 - 22) * ((100vw - 320px) / (2000 - 320)));
  font-weight: 300;
  text-align: center;
  position: static;
  margin-top: 50px;
}
.p {
  color: var(--secondary-white);
  text-align: center;
  width: 75%;
  max-width: 400px;
  margin: 0 auto;
  font-weight: 300;
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (2000 - 320)));
  margin-bottom: 30px;
}

/* why choose us section  */

/* .whyUsSection {
} */
.iconsContainer {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

.text {
  font-family: var(--heading-font);
  font-size: 1em;
}
.icon {
  font-size: 1.2em;
  color: var(--text-color);
}

.iconContainer {
  width: 35%;
  text-align: center;
  padding: 10px;
}

@media screen and (min-width: ) {
}
