h1 {
  margin-top: 0;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h6 {
  font-family: var(--heading-font);
}
p {
  font-family: var(--body-text-font);
  font-weight: 100;
}
.active {
  background: var(--main-blue);
  display: block;
  color: var(--secondary-white) !important;
}
.footer a {
  font-family: var(--body-text-font);
}
@media (min-width: 1000px) {
  .active {
    background: var(--white);
    display: inline;
    color: var(--main-blue) !important;
  }
}
