.container {
  position: relative;
}
.absolutePositioning {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20%;
  text-align: center;
  /* transform: translateY(-50%); */
}

/* .heroContainer span {
  height: 55vh !important;
  position: static !important;
} */
