.container {
  /* position: relative; */
  height: ;
}
.absolutePositioning {
  position: absolute;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20%;
  text-align: center;
  /* transform: translateY(-50%); */
}

.heroImg {
  height: auto;
  position: relative;
}
